<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.community.mapper.LoginTicketMapper">
    <!--int insertLoginTicket(LoginTicket loginTicket);-->
    <insert id="insertLoginTicket" parameterType="LoginTicket" keyProperty="id">
        insert into login_ticket(user_id, ticket, status, expired)
        values (#{userId}, #{ticket}, #{status}, #{expired});
    </insert>

    <!--int updateStatus(String ticket, int status);-->
    <update id="updateStatus" >
        update login_ticket
        set status=#{status}
        where ticket=#{ticket}
    </update>

    <!-- LoginTicket selectByTicket(String ticket);-->
    <select id="selectByTicket" resultType="loginTicket">
        select id,user_id,ticket,status,expired
        from Login_ticket
        where ticket = #{ticket}
    </select>

</mapper>